* @bright-broom

/.github/ @bright-broom
/content/ @bright-broom
/docs/ @bright-broom
/scripts/ @bright-broom
/src/app/ @bright-broom
/src/modules/ @bright-broom
/src/shared/ @bright-broom
/src/ui/ @bright-broom
